nav{
    background-color: black;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
}

#logo{
    height: 50px;
    margin-left: 10px;
}

ul{
display: flex;
list-style: none;
gap: 22px;
font-size: 24px;
color: white;
text-decoration: underline;
}